<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
        img { width: 100px; height: auto; display: block; margin: 0 auto; }
        .centered { display: block; margin: 0 auto; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jodeci Station</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <script defer src="static/script.js"></script>
</head>
<body>
    <img src="static/img/mainlogo.jpg" alt="logo">
    <h1>Jodeci Station</h1>
    <audio id="audioPlayer" controls>
        <source src="{{ url_for('static', filename='music/cryforyou.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div id="progressWrapper" style="width: 80%; margin: auto;">
        <div id="currentTime" style="float: left;"></div>
        <input type="range" id="progressBar" value="0" step="1" style="width: calc(100% - 120px); float: left; margin-left: 10px;" class="centered" onclick=console.log('Clicked');>
        <div id="totalTime" style="float: left;"></div>
    </div>
    <button id="playPauseButton" onclick="playPause()" class="centered">Play</button>
    <button onclick="stop()" class="centered">Stop</button>
    
</body>
</html>