<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jodeci Station</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <script defer src="static/script.js"></script>
</head>
<body>
    <h1>Jodeci Station</h1>
    <audio id="audioPlayer" controls>
        <source src="{{ url_for('static', filename='music/cryforyou.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <button onclick="play()">Play</button>
    <button onclick="pause()">Pause</button>
    <button onclick="stop()">Stop</button>
    

</body>
</html>